@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600&display=swap');
h1{
text-align: center;
text-shadow: rgb(236, 223, 31);
}
*{
    padding: 0%;
    margin: 0;
}
.bu{
    height: 30px;
    width: 300px;
    border-radius: 50px;
    padding-top: 5px;
    border: 0px;
    margin-top: 2%;
}
#buma{
    position: relative;
    bottom: 60px;
    left:100px;
}
.bu input[type="file"]{
cursor:pointer;
transform:scale(2);
opacity: 0;
}
.wel{
    border: 0px solid whitesmoke;
    border-radius: 50px;
    background-color: rgb(241, 208, 18);
    height:50px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.di{
    width: 100%;
    display: flex;
    justify-content: center;
}
.gp{
    height:400px;
    width:300px;
    border:1px solid black;
    /* background-color: rgb(147, 190, 45); */
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:rgba(100, 210, 237, 0.26);
}
.sar{
    display:flex;
    justify-content: left;
}
body{
    background-image: url('home-image.jpg');
    background-size: 100% auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100vh;
    width: 100%;
}
.nav-buttons button{
    border-radius:2px;
    border: 0px;
    font-size: 15px;
    transition: padding 0.5s;
    background:transparent;
    margin-right: 20px;
    font-family: 'Exo 2', sans-serif;
}
.nav-buttons{
    background:transparent;
    height: 3%;
    width:auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-buttons button:hover{
    background-color: #8c8585;
    padding: 6px;
    border-radius: 10px;
    transition: padding 0.5s, border-radius 0.5s ;
    text-shadow: 2px  3px 5px whitesmoke;
    text-transform:uppercase;
}
fieldset{
    height: 400px;
    width: 25%;
    border-radius: 50px;
    margin-top: 50px;
    background-color: #a79c93ad;
}
form{
    display: flex;
    flex-direction: column;
    margin-top: 75px;
    align-items: center;
}
form input{
    margin: 5px auto;
    height: 30px;
    width:300px;
    padding-left: 30px;
    border: 0px;
    /* text-align: center; */
    border-radius: 25px;
    outline: none;
}
legend{
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: #356d92;
    font-family: 'Source Code Pro', monospace;
}
.over{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width:95%;
    margin: auto;
}
.butt{
margin-top: 30px;
border:0px;
border-radius:50px;
font-size: medium;
padding: 10px 5px;
}
.butt:hover{
    background-color: darkcyan;
}
form input:hover{
    background-color: #7077868a;
    font-size: 15px;
    border:0;
}
input::placeholder{
    color: black;
    font-family: 'Ubuntu', sans-serif;
}
.text{
    /* height: 100vh;
    width : 100%; */
    top:250px;
    right: 150px;
    height:200px;
    width:500px;
    border:none;
    background-color: rgba(0, 0, 0, 0.521);
    text-align: center;
    border-radius: 50px;
}
span{
    animation: example1 5s  linear  infinite;
    color: rgb(9, 206, 206);
}
p{
    margin-top: 5%;
    animation: example 5s linear infinite;
    font-size: 19px;
}h2{
    color:rgb(173, 215, 252);
    margin-top: 5%;
}
/* @keyframes example {
    0%   {text-shadow:3px 2px 5px rgb(54, 41, 41);}
    25%  {text-shadow:-3px -2px 5px rgb(56, 44, 44);}
    50%  {text-shadow:3px -2px 5px rgb(61, 44, 44);}
    75%  {text-shadow:-3px 2px 5px rgb(58, 46, 46);}
    100% {text-shadow:3px -2px 5px rgb(66, 56, 56)
  }
}
  @keyframes example1 {
    0%   {text-shadow:2px 2px 5px rgb(255, 255, 255);}
    25%  {text-shadow:-2px -2px 5px rgb(255, 255, 254);}
    50%  {text-shadow:2px -2px 5px rgb(255, 255, 255);}
    75%  {text-shadow:-2px 2px 5px rgb(255, 255, 255);}
    100% {text-shadow:2px -2px 5px rgb(255, 255, 255);}
  } */

@keyframes example2{
0%{
    transform:translateY(-100px);
}
}
@media(max-width:1440px){
    body{
        background: rgb(171,182,202);
        background: linear-gradient(180deg, rgba(171,182,202,1) 0%, rgba(123,137,163,1) 100%);
    }
}